/* --------------- Universal Section ----------------- */

/*****Google Font url*****/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}


/* --------------- Header Section ----------------- */
.header-section {
    width: 90%;
    /* height: 85vh; */
    margin: 3em auto;
    background-color: #2b6777;
    border-radius: 1.5em;
}

.header-container {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1em; */
}

.head-text,
.head-image {
    width: 40%;
    margin-top: 1em;
}

.head-image img {
    width: 100%;
    height: 100%;
    display: block;
}

.head-text {
    color: white;
}

.head-text p {
    margin: 3em 0;
}

.head-text h1 {
    font-size: 4em;

}

.watch-button {
    background-color: mediumseagreen;
    width: 120px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
}

.watch-button:hover {
    background-color: tomato;
    transition: 0.8s;
}


.watch-button a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
}

/*--------------------- Start  of Main Section -------------------------*/



/* -----------------------Blogs----------------------------------- */
.blog-section {
    margin: 100px auto;
}

.all-container {
    width: 90%;
    margin: auto;
}

.blogs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    grid-row-gap: 30px;
}


.control-of-page {
    float: left;
    width: 30%;
    margin: auto;
    background-color: #2b6777;
    border-radius: 15px;
}

.tabs {
    padding: 15px;
    background-color: #2b6777;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.control-of-page p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 15px;
    text-align: center;
    background-color: white;
    margin-top: 15px;
    border-radius: 15px;
}

.blog-color {
    background-color: mediumseagreen !important;
}

.blog-color a {
    color: white !important;
}

.control-of-page a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    margin: 15px;
}

.blog {
    width: 85%;
    margin: auto;
    box-shadow: 2px 2px 10px 1px gray;
    border-radius: 10px;
    padding-bottom: 15px;
}

.blog-details {
    margin-left: 15px;
}

.blog-button {
    padding: 3px 5px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 600;
}

.blog-image img {
    width: 100%;
}

.blog-text {
    font-weight: 600;
}

.duration-comments {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

.duration {
    margin-right: 15px;
}

.duration-comments img {
    display: block;
}

.view-all {
    width: 20%;
    margin: 30px auto;
    border-radius: 10px;
    display: none;
}


/* -----------------------Upcoming Match----------------------------------- */
.matchs-container {
    grid-column-gap: 50px;
}

.match-control {
    width: 25%;
}

.match-container {
    padding: 15px;
    width: 90%;
    box-shadow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 10px;
}

.match-image {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.match-image img {
    width: 41%;
}



.match-details h3 {
    margin: 10px 0;
}

.match-details p {
    font-size: 12px;
    margin: 10px 0;
}

.upcomig-match {
    background-color: mediumseagreen !important;
}

.upcomig-match a {
    color: white !important;
}

/* -----------------------Footer Section----------------------------------- */
footer {
    width: 100%;
    height: 300px;
    background-color: #2b6777;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}



footer h1 {
    color: white;
    text-align: center;
    margin: 30px 0;
    font-size: 40px;
}

nav {
    margin: 30px 0;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;

}

nav ul li a {
    text-decoration: none;
    color: white;
}

.social-logos {
    color: white;
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.social-logos i {
    font-size: 50px;
}

.social-logos a {
    color: white;
}



/* -----------------------Responsive Section----------------------------------- */

/* ---------------For mobile------------------ */

@media screen and (max-width:576px) {
    .header-container {
        flex-direction: column;
        text-align: center;
    }

    .head-text h1 {
        font-size: 2em;
        margin-top: 15px;
    }

    .head-text,
    .head-image {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .head-text p {
        margin: 1.5em 0;
    }

    .watch-button {
        width: 50%;
        margin: 0 auto;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav ul li {
        margin-bottom: 15px;
    }

    footer {
        height: 90vh;

    }

    .social-logos i {
        font-size: 25px;
    }

    .blogs-container {
        grid-template-columns: 1fr;
        clear: left;
    }

    .match-container {
        margin: 15px auto;
    }

    .tabs {
        flex-direction: column;
        background-color: white;
        border-radius: 0;
        clear: both;
    }

    .tabs p {
        width: 300px;
        flex-direction: row;
        padding: 2px 5px;
        box-shadow: 2px 1px 10px 3px gray;
    }

    .tabs a {
        flex-direction: row;
        font-size: 25px;
    }

    .all-container {
        display: flex;
        flex-direction: column;
    }


    .control-of-page {
        margin-bottom: 30px;

    }
}



/* --------------------For Tab------------------ */


@media screen and (min-width:577px) and (max-width:768px) {
    .head-text h1 {
        font-size: 1.7em;
        margin-top: 2em;
    }

    .head-text,
    .head-image {
        width: 45%;
    }

    .last-blog {
        display: none;
    }

    .all-container {
        clear: both;
        display: flex;
        flex-direction: column;
    }

    .blogs-container {
        grid-template-columns: 1fr 1fr;
    }

    .tabs {
        margin: auto;
        flex-direction: row;
        background-color: white;
        border-radius: 0;
    }

    .control-of-page {
        width: 99%;
        margin: auto;
        margin-bottom: 25px;
    }


    .tabs p {
        margin-right: 20px;
        justify-content: space-between;
        box-shadow: 2px 1px 10px 3px gray;
        font-size: 18px;
    }

    .view-all {
        display: block;
    }

}